<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>91041DDC-A8B9-4EFE-8224-B834D3186D07</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kagi</string>
			<key>text</key>
			<string>Search Kagi for '{query}'</string>
			<key>url</key>
			<string>https://kagi.com/search?token=YQRAnL1gywc.neELzjCXbbztsqWuWo8VvWEVWrFvw01OhURoeqfzv5E&amp;q={query}</string>
		</dict>
	</dict>
</dict>
</plist>
